<form action="/admin" method="post">
  <label for="title">Book Title:</label>
  <input type="text" name="title" id="title">
  <label for="name">Authors Name:</label>
  <input name="name" type="text" id="name">

  <button type="submit">Add Book</button>
</form>
